- name: Ensure docker users are added to the docker group
  ansible.builtin.user:
    name: "{{ item }}"
    groups: docker
    append: true
  loop: "{{ docker_users }}"
  become: true

- name: Reset ssh connection to apply user changes
  ansible.builtin.meta: reset_connection